# ---------------------------
# OS files
# ---------------------------
[Tt]humbs.db
*.DS_Store

# ---------------------------
# SORT folder
# ---------------------------
__SORT__

# ---------------------------
# Temporarily remove Tools folder (add it later once I’ve decided on what I’m doing here)
# ---------------------------
Tools

# ---------------------------
# Visual Studio
# ---------------------------
.vs
bin
obj
*.suo
