# ---------------------------
# OS files
# ---------------------------
[Tt]humbs.db
*.DS_Store

# ---------------------------
# SORT folder
# ---------------------------
__SORT__

# ---------------------------
# Visual Studio
# ---------------------------
.vs
bin
obj
*.suo
